#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper{

  width: 96%;
}
/* .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  position: relative;
  padding-left: 50px; 
  padding-right: 50px; 
} */
.swiper-slide {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 3fr));
  align-items: center;
  gap: 5px;
  justify-content: center;
  position: relative;
  padding-left: 50px; 
  padding-right: 50px; 
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev, .swiper-button-next{
  border: 2px solid rgba(38, 205, 235, 0.926);
  border-radius: 5px;
  z-index: 999999999999999999999999;
  padding: 26px 18px;
  overflow: visible;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 15px;
  font-weight: 700;
}



@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
 
 
}

@media only screen and (min-width: 320px) {
  .swiper-button-prev, .swiper-button-next{
   /* display: none; */
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 9px;
    font-weight: 700;
  }
  .swiper-button-prev, .swiper-button-next{
    border: 1px solid rgba(38, 205, 235, 0.926);
    border-radius: 5px;
    padding: 4px 3px;
    overflow: visible;
  }
  
}